<div>
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email:</label>
            <input type="mail" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password:</label>
            <input class="form-control" name="password" id="exampleFormControlInput1" placeholder="Password" required>
        </div>
        
        <button class= "btn btn-success" type="submit">Login</button>
    </form>

    <p> <a href="/register">Create account</a></p>
    </div>