<div>
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username:</label>
            <input type="text" name="username" class="form-control" id="exampleFormControlInput1" placeholder="Your username" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email:</label>
            <input type="mail" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Password:</label>
            <input class="form-control" name="password" id="exampleFormControlInput1" placeholder="Password" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Confirm Password:</label>
            <input class="form-control" name="confirmPassword" id="exampleFormControlInput1" placeholder="Confirm Password" required >
        </div>
        <button class= "btn btn-success" type="submit">Create Account</button>
    </form>
    </div>